.info__links {
  height: 400px;
  .links__link {
    text-align: center;
    margin: 10px;
    a {
      font-size: 16px;
      font-weight: 300;
      transition: color 0.3s;
      &:hover {
        color: $underline-color;
      }
      svg {
        display: block;
        margin: 0 auto 5px;
      }
      .link-circular {
        font-size: 28px;
      }
      .link-square {
        font-size: 25px;
      }
    }
  }
}
