$primary-color: #000;
$secondary-color: #fff;
$bg-black: #000;
$bg-white: #fff;
$underline-color: #db0768;

@mixin gradient-text($gradient, $bg: "light") {
  @supports (mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == "light") {
      color: $primary-color;
      background: $bg-white;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: $secondary-color;
      background: $bg-black;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}
