@import "utils";
@import "responsive";
@import "home";
@import "about";
@import "work";
@import "education";

$font-stack: "Open Sans", sans-serif;

html {
  box-sizing: border-box;
  transition: background-color 0.3s;
  body {
    font: 100% $font-stack;
    margin: 0;
  }
}

/* Layout */
.container {
  max-width: 70rem;
  padding-top: 1.0875rem;
  padding-bottom: 1.0875rem;
  margin: 0 auto;
  &--extended {
    max-width: 80rem;
    padding-top: 1.0875rem;
    padding-bottom: 1.0875rem;
    margin: 0 auto;
  }
}

.display-none {
  display: none;
}

.main {
  min-height: 630px;
  @include md {
    min-height: 540px;
  }
}

.icon {
  vertical-align: middle;
  cursor: pointer;
}

.link__icon {
  color: #aaa;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  grid-gap: 0 2.25em;
  align-items: center;
  @include md {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }
  .col-6 {
    grid-column: 6 span;
  }
  .col-4 {
    grid-column: 4 span;
  }
  .col-3 {
    grid-column: 3 span;
  }
}

.app.dark {
  background: $bg-black;
  color: $secondary-color;
  transition: 0.3s all;
  height: 100vh;
  a {
    color: $secondary-color;
    text-decoration: none;
  }
  #gradient,
  #gradient__link {
    @include gradient-text(
      "linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670)",
      "dark"
    );
  }
  #drawer {
    background-color: $bg-black-2;
  }
  .home__skills {
    .skills__skill {
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.app.light {
  background: $bg-white;
  color: $primary-color;
  transition: 0.3s all;
  height: 100vh;
  a {
    color: $primary-color;
    text-decoration: none;
  }
  #gradient,
  #gradient__link {
    @include gradient-text(
      "linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670)",
      "light"
    );
  }
  #drawer {
    background-color: $bg-white-2;
  }
  .home__skills {
    .skills__skill {
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

/* Header */
.header {
  margin-bottom: 1.45rem;
  border-bottom: 1px solid #eaecef;
  .header__content {
    padding: 1rem 1.0875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content__title {
      display: flex;
      align-items: center;
      h1 {
        font-size: 1.3rem;
        margin: 0;
        margin-left: 10px;
        @include sm {
          margin-left: 0px;
        }
      }
    }
    .content__links {
      font-size: 16px;
      display: none;
      .link {
        padding: 0 30px;
        font-weight: 300;
      }
      .link.link-last {
        padding-right: 0;
      }
      @include sm {
        display: block;
      }
    }
    .content__icon {
      font-size: 28px;
      display: flex;
      @include sm {
        display: none;
      }
    }
  }
  .header__drawer {
    display: block;
    font-weight: 300;
    height: 92vh;
    position: absolute;
    top: 61px;
    padding: 0.5rem 0;
    z-index: 2;
    border-right: 1px solid #eaecef;
    @include sm {
      display: none;
    }
    .drawer__links {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 260px;
      .link {
        padding: 15px 0;
        display: block;
        line-height: 1.25rem;
        font-size: 1.1em;
        padding: 0.89rem 0 0.5rem 1.5rem;
        &:hover {
          color: $exception-color;
        }
      }
      .link.link-last {
        display: flex;
        align-items: center;
        svg {
          padding: 0 10px;
        }
      }
    }
  }
}

/* Main content */
%section-container {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

%low-dash {
  content: "";
  display: block;
  height: 1px;
  bottom: 0.4px;
  background-color: $exception-color;
  transition-property: width;
  transition-duration: 0.4s;
}

/* Footer */
.footer__info {
  padding: 1.5em 0;
  width: 100%;
  .footer__info-container {
    text-align: center;
  }
}
